/* Reset del css por problemas en movil*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INICIO DEL CSS PROPIO*/

html{
	height: 100%;
	overflow: auto;
}

body {

	/*background-color: #0092BF;*/
	color: #fff;
	font-family: Helvetica;
	overflow: auto;
}

h1{

	text-align: center;
	font-size: 4em;
	margin: 0.3em 0;
}

div.buttons{
	text-align: center;
	padding: 0 25%;

}
#big-img{
	padding: 0 25%;
	text-align: center;
}

.big{
	width: 80%;
}

.menu{
	width: 18%;
	float: left;
	margin-left: 1em;
}
.not-mobile{
	position: fixed;
}

.button{
	border-radius: 30px;
	margin: 0.5em 0.3em;
	font-size: 0.5em;
}

ul{
	list-style-type: none;
}

li{
	border: solid 1px #fff;
	text-align: center;
	
}


li:not(:first-child):hover{
	background-color: #AAA;
	
}
a:link {
	text-decoration: none;
	color: #fff;
}
a:visited{
	text-decoration: none;
	color: #fff;
}
a.res{
	text-decoration: underline;
}

.hand:hover{
	cursor: pointer;
}

.article{

	padding: 0 20%;
	color:	#fff;
	margin: 6em 0;
	
}

.yellow-price{
	color: #FFFF00;
    font-size: 1.3em;

}

.red-price{
	color: #FB6262;
    font-size: 1.3em;

}
.green-price{
	color: #52BA6C;
    font-size: 1.3em;
}

.title{
	font-size: 2em;
	margin: 3% 0;
	text-align: center;
}

#video{
	text-align: center;
}

video{
	width: 80%;
}

#map{
	margin: 1em 0;
}

.color{
	float: right;
	border: solid 1px #fff;
	margin: 1em;
	height: 0.8em;
	width: 0.8em;
}

.blue{
	background-color: #0092BF;
}
.green{
	background-color: #52BA6C;
}
.orange{
	background-color: #FB6262;
}
.bck-color{
	height: 2em;
}

small{
	float: right;
	margin: 1em;
	color: #fff;

}

input{
	margin: 0.2em;
}

footer{
	margin-bottom: 1em;
	border-top: solid 1px #fff;
	text-align: center;
}

.col-left{
	width: 44%;
	float: left;
	border-right: solid 1px #fff;
	padding: 1em 2.5%; 
}

.col-right{
	width: 44%;
	float: left;
	padding: 1em 2.5%;
}

.to-top{
	float: right;
	text-decoration: underline;
	font-size: 0.7em;
}

.contact{
	margin:	0.5em 0.3em 0 0.3em;
}
.contact img{
	display: block;
}

/* css encontrado en la web que ayuda con los float */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }